<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>URL Shortener Microservice</title>
    <meta charset="utf-8">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  <div style="padding-bottom:5px;overflow:scroll;width:60%;height:80%;background-color:cornsilk;position:absolute; top:0; bottom:0; left:0;right:0;margin:auto;    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <h1 style="text-align:center">
      URL Shortener Microservice
    </h1>


    <main style="width:90%; margin:auto;">
      <p class="bold">Hello!</p>
      <p>Add a web address to the end of the existing web address in the address bar to get a short url and an original url, both redirecting you to the original url.
        <br>
        <br> An example of this might be the following:
        <br>
        <br>
        <a href="https://url-shortener123.glitch.me/https://www.google.com" target="_blank">https://url-shortener123.glitch.me/https://www.google.com</a>,
        <br>
        <br> The output will look something like this:
        <br>
        <br>
        <a href="https://url-shortener123.glitch.me/https://www.google.com" target="_blank">{short_url: "https://url-shortener123.glitch.me/new", original_url: "https://www.google.com"}
        </a>
      </p>
      <br> Or just add a url to the field below:
      <br>
      <input id="input" type="text">
      <button id="button" style="width:60px">Submit</button>
    </main>
  </div>
      <script>
    var btn = document.getElementById("button")

    btn.addEventListener("click", function () {
      var val = document.getElementById("input").value;
      window.open(`https://url-shortener123.glitch.me/${val}`)
    })
  </script>
  </body>
</html>
